<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show Category</title>

    <div th:fragment="header">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!--Bootstrap CSS-->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous" />
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Google Fonts-->
        <link href="https://fonts.googleapis.com/css?family=Belgrano|Flamenco&display=swap" rel="stylesheet">
    </div>
</head>
<body>

<div th:fragment="navbar" style="background-color: slategray">
    <div class="row">
        <div class="col">
            <ul class="nav">
                <li class="navbar-nav" id="firstItem">
                    <p><img src = "https://res.cloudinary.com/ascension-enterprises/image/upload/v1570765907/carlogo_l9la46.jpg" alt = "Picture logo" /></p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <li>
                    <a class="dropdown-item" style="color: whitesmoke" href="/">Car Listing</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <li>
                    <a class="dropdown-item" style="color: whitesmoke" href="/categorylist">View Categories</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <li>
                    <a class="dropdown-item" style="color: whitesmoke" href="/carlist">View Cars</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <li>
                    <a class="dropdown-item" style="color: whitesmoke" href="/addcategory">Add Category</a>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="navbar-nav">
                <li>
                    <a class="dropdown-item" style="color: whitesmoke" href="/addcar">Add Car</a>
                </li>
            </ul>
            </ul>
        </div>
        <!--            See Week 5 Challenge-->
        <div class="col" align="right">
            <form th:action="@{/processsearch}" class="form-inline" method="post">
                <input type="text" placeholder="Search" name="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>


<div class="container" style="background-color: azure">
    ID : <span th:text="${category.categoryID}"></span><br/>
    Category: <span th:text="${category.categoryName}"></span><br/>
</div>

<!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="container" th:fragment="footnote">
    <footer>
        <center>
            <div class="footer-main-div" style="alignment: center">
                <p style="color:greenyellow; ">&copy; Copyright 2019 John Anderjaska.</p>
            </div>
        </center>
    </footer>
</div>
</body>
</html>